@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Black.ttf);
    font-weight: black;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-ExtraBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-SemiBold.ttf);
    font-weight: normal;
}

@theme {
    --font-text: 'Inter', 'sans-serif';
}

.text-outline {
    -webkit-text-stroke: 4px white;
}

@media (width <40rem) {
    .text-outline-small {
        -webkit-text-stroke: 2px white;
    }
}


.non-drag {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000
}